body{
  width: 100%;
  height: 100%;
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: darkred;
  
}
span{
  font-size: 2rem;
  font-weight: 900;
}
video{
  width: 20rem;
  height: 20rem;
  margin-top: 20vh;
}
form{
  width: 80%;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 2rem;
  right: 2rem;
  box-shadow: 0 0.1rem 0.5rem darkred;
  border: 1px solid darkred;
  color: white;
  border-radius: 20px;
  
}
h3{
  color: darkgrey;
  margin-top: 3rem;
}
input{
margin-top: 3rem;
}
label{
  color: #B71C1C;
  text-shadow: 0 0.1rem 0.5rem #B71C1C;
  font-size: 1rem;
  font-weight: 900;
}
button{
  width: 50%;
  padding: 12px;
  font-size: 1rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  background: none;
  border: 1px solid #B71C1C;
  box-shadow: 0 0.1rem 0.5rem #B71C1C;
  border-radius: 20px;
  color: darkred;
}
input{
  background: none;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid darkred;
}