body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: black;
    color: #1FCCC2;
    font-size: 12px;
    font-weight: 900;
    color: #1FCCC2;
}
#video{
    width: 100%;
    height: 25rem;
    border: 4px solid black;
}
#chat{
    width: 100%;
    height: 20vh;
    overflow-y: scroll;
    
    margin-left: 0rem;
    background: none;
}
#mensagem{
    width: 100%;
   
    margin-top: 2vh;
    
}

#mensagem input{
    width: 70%;
    padding: 12px;
    background: none;
    border-radius: 20px;
    outline: none;
    color:  white;
    border: 2px solid white;
}
#button{
    width: 20%;
    font-size: 1rem;
    padding: 12px;
    border: 1px solid white;
    outline: none;
    background: none;
    color:  white;
    border-radius: 20px;
}
#jarvis{
   color: darkred;
text-shadow: 0 0.1rem 0.5rem darkred;
}
#caixa{
    color: darkred;
text-shadow: 0 0.1rem 0.5rem darkred;
}
p{
   font-weight: 900; 
   color: darkred;
text-shadow: 0 0.1rem 0.5rem darkred;
}






#estras{
    position: fixed;
    top: 10vh;
    right: 2rem;
    
}







#batteryStatus{
    margin-top: 1rem;
    color: darkred;
text-shadow: 0 0.1rem 0.5rem darkred;
background-color: rgba(255, 255, 255, 0.10);
padding: 12px;
border-radius: 20%;
    
}



#batteryStatus{
    color: darkred;
    text-shadow: 0 0.1rem 0.5rem darkred;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 12px;
    border-radius: 20%;
}
#mensagem{
   color: pink;
text-shadow: 0 0.1rem 0.5rem deeppink; 
}

#memoriaStatus{
    color: darkred;
text-shadow: 0 0.1rem 0.5rem darkred;
background-color: rgba(255, 255, 255, 0.10);
padding: 12px;
width: 1.75rem;
height: 1rem;
position: fixed;
top: 20vh;
right: 2rem;
border-radius: 20%;
}


#redeStatus{
   color: darkred;
text-shadow: 0 0.1rem 0.5rem darkred;
background-color: rgba(255, 255, 255, 0.10);
padding: 12px;
width: 1.9rem;
height: 1.45rem;
position: fixed;
top: 28vh;
right: 2rem;
border-radius: 20%; 
    
    
    
    
    
}
#weather{
       color: darkred;
   text-shadow: 0 0.1rem 0.5rem darkred;
   background-color: rgba(255, 255, 255, 0.10);
   padding: 12px;
   width: 1.9rem;
   height: 1.45rem;
   position: fixed;
   top: 40vh;
   right: 2rem;
   border-radius: 20%;
}
#seleciona{
    position: fixed;
    left: 1rem;
    top: 8vh;
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
    border-radius: 20px;
    border: none;
    width: 6rem;
    height: 2rem;
    padding: 0rem;
}